{erl_opts, [debug_info]}.
{deps, [{ibrowse, ".*", {git, "https://github.com/apache/couchdb-ibrowse.git", {branch, master}}},
    {gpb, ".*", {git, "https://github.com/tomas-abrahamsson/gpb", {branch, master}}}]}.

{proto_opts, [
    {compiler, gpb},
    {src_dirs, ["protos"]}
]}.

{gpb_opts, [
    maps,
    strings_as_binaries,
    {module_name_suffix, "_pb"}
]}.

{config, "./config/sys.config"}.

{pre_hooks, [{"", compile, "make -s update"}]}.
