{erl_opts, [debug_info]}.
{deps, [{ibrowse, ".*", {git, "https://github.com/apache/couchdb-ibrowse.git", {branch, master}}},
    {gpb, ".*", {git, "https://github.com/tomas-abrahamsson/gpb", {branch, master}}}]}.

{proto_opts, [
    {compiler, gpb},
    {src_dirs, ["protos"]}
]}.

{gpb_opts, [
    {rename, {msg_name,snake_case}},
    {rename, {msg_fqname,base_name}},
    use_packages,
    maps,
    strings_as_binaries,
    {module_name_suffix, "_pb"}
]}.

{pre_hooks, [{"", compile, "make -s update"}]}.
