%% -*-erlang-*-
{erl_opts, [debug_info]}.
{deps, [{grpcbox, ".*", {git, "https://github.com/tonysun83/grpcbox", {branch, "no-logger"}}}]}.

{grpc, [{protos, "protos"},
        {type, "client"},
        {gpb_opts, [{module_name_suffix, "_pb"}]}]}.

{plugins, [grpcbox_plugin]}.

{shell, [
    {config, "config/test.config"},
    {apps, [search3]}
]}.
