%% -*-erlang-*-
[
 {grpcbox, [{client, #{channels =>
                           [{channel1, [{https, "localhost", 8443,
                                         [
                                          {keyfile, "../search3-java/key.pem"},
                                          {certfile, "../search3-java/cert.pem"}
                                         ]}], #{}},
                            {channel2, [{https, "localhost", 8444,
                                         [
                                          {keyfile, "../search3-java/key.pem"},
                                          {certfile, "../search3-java/cert.pem"}
                                         ]}], #{}}
                           ]}}
           ]
 }
].
