%% -*-erlang-*-
[
 {grpcbox, [{client, #{channels => [{default_channel, [{https, "localhost", 8443,
                                                        [
                                                         {keyfile, "../search3-java/key.pem"},
                                                         {certfile, "../search3-java/cert.pem"}
                                                        ]}],
                                     #{%% stats_handler => grpcbox_oc_stats_handler
                                      }}]}}
           ]
 }
].
